# By default, the app will use the DATABASE_URL to connect to the POSTGRES database in SUPABASE with Direct Connection. 
# If you want to use the Docker container to connect to the database, you can use the IPV4_DATABASE_URL instead with Session Pooler.
DATABASE_URL="postgresql+asyncpg://postgres:"
IPV4_DATABASE_URL="postgresql+asyncpg://postgres."
DEBUG_SQL=
SENTRY_DSN=